#/app/Config/database.php
#/app/Config/core.php
/app/Config/email.php

/app/tmp/cache/models/*
/app/tmp/cache/persistent/*
/app/tmp/cache/views/*
/app/tmp/logs/*
/app/tmp/sessions/*
/app/tmp/tests/*
/app/tmp/cache/models/empty
/app/tmp/cache/persistent/empty
/app/tmp/cache/views/empty
/app/tmp/logs/empty
/app/tmp/sessions/empty
/app/tmp/tests/empty

/lib/Cake/Console/Templates/skel/tmp/

/plugins
/vendors
vendors/
node_modules/
bower_components/
composer.phar

/build
/dist
/tags
coverage/
.phpunit.cache/

/nbproject
.idea/
.idea
/.project
/.buildpath
/.settings/
.vscode/
*.sublime-project
*.sublime-workspace
*.iml

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
desktop.ini

*.mo
*.log
*.tmp
*.temp
*.swp
*.swo
*~
*.bak
*.backup

/app/webroot/img/uploads/*
!/app/webroot/img/uploads/.gitkeep
/app/webroot/files/*
!/app/webroot/files/.gitkeep

.env
.env.*
*.env
