
services:
  app:
    build: .
    ports:
      - "8080:80"
    volumes:
      - ./app/tmp:/var/www/html/app/tmp
      - ./app/webroot/img:/var/www/html/app/webroot/img
    depends_on:
      - mysql
    networks:
      - app-network

  mysql:
    image: mysql:8.4.3
    command: --local-infile=1
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: doity
    volumes:
      - mysql-data:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - app-network

volumes:
  mysql-data:

networks:
  app-network:
    driver: bridge