services:
  web:
    build:
      context: .
      target: dev
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db
    links:
      - db

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: desafio_doity
      MYSQL_USER: doity_user
      MYSQL_PASSWORD: doity_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data: